body {
  margin: 0;
  font-family: "Raleway", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.mt--0\.5{
  margin-top: -0.125em;
}
.mt--0\.7{
  margin-top: -0.175em;
}

.w-min-7 {
  min-width: 1.75rem;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}